/*
  屏幕宽度
 */
/*
  字体大小
 */
/*
  颜色
 */
/*
  字体颜色
 */
/*
  基础边框与圆角设置
 */
/*
  基础边框
 */
/*
  基础圆角
 */
/*
  基础文字缩进
 */
/*
  单行文字末尾缺省
 */
.single-line-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
  自定义阴影
 */
/*
  基础阴影
 */
/*
  基础transform
 */
/*
  transform-left 横向居中
 */
/*
  transform-top 垂直居中
 */
/*
  transform-top-left 居中
 */
:root {
  font-size: 36px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
ul,
ol {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #555555;
  text-decoration: none;
}
.container {
  padding: 0;
}
.row {
  margin: 0;
}
.row div {
  padding: 0;
}
/*
  基础Toast样式
 */
.toast-default-span {
  position: fixed;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 40%;
  cursor: pointer;
  z-index: 9999;
  padding: 0.27777778rem 0.55555556rem;
  text-align: center;
  font-size: 0.41666667rem;
  line-height: 0.5rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #555555;
  color: #333333;
}
/*
 * 小于320px的屏幕，固定宽度和字体
 */
@media only screen and (max-width: 319px) {
  :root {
    font-size: 21.33333333px;
  }
}
/*
 * 不同手机屏幕按梯次设置字体，宽度100%
 */
@media only screen and (min-width: 320px) {
  :root {
    font-size: 21.33333333px;
  }
}
@media only screen and (min-width: 360px) {
  :root {
    font-size: 24px;
  }
}
@media only screen and (min-width: 375px) {
  :root {
    font-size: 25px;
  }
}
@media only screen and (min-width: 384px) {
  :root {
    font-size: 25.6px;
  }
}
@media only screen and (min-width: 400px) {
  :root {
    font-size: 26.66666667px;
  }
}
@media only screen and (min-width: 414px) {
  :root {
    font-size: 27.6px;
  }
}
@media only screen and (min-width: 425px) {
  :root {
    font-size: 28.33333333px;
  }
}
@media only screen and (min-width: 480px) {
  :root {
    font-size: 32px;
  }
}
/*
 *  width为768px及以上默认为PC，宽度按sm、md、lg，字体固定
 */
@media only screen and (min-width: 540px) {
  :root {
    font-size: 36px;
  }
}
@media only screen and (min-width: 720px) {
  :root {
    font-size: 36px;
  }
}
@media only screen and (min-width: 750px) {
  :root {
    font-size: 36px;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    font-size: 36px;
  }
}
@media only screen and (min-width: 992px) {
  :root {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    font-size: 36px;
  }
}
.card {
  position: relative;
  padding: 0 0.41666667rem 0.55555556rem !important;
}
.card .header {
  position: relative;
  display: inline-block;
  z-index: 99;
  background: linear-gradient(60deg, #eca444, #e68e17);
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.27777778rem;
  min-width: 40%;
  margin: 0 0.41666667rem;
  max-width: calc(100% - 2 * 0.41666667rem);
}
.card .header .title {
  font-size: 0.47222222rem;
  line-height: 0.47222222rem;
  color: #FFF;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .header .sub {
  margin-top: 0.27777778rem;
  font-size: 0.38888889rem;
  line-height: 0.38888889rem;
  color: #FFF;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .body {
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #FFF;
  position: relative;
  z-index: 80;
  top: -0.55555556rem;
  left: 0;
  padding: 0.55555556rem 0.41666667rem 0.27777778rem;
  margin-bottom: -0.55555556rem;
}
.card .body li {
  margin-top: 0.27777778rem;
}
.card .body li .name {
  font-size: 0.41666667rem;
  line-height: 0.5rem;
  color: #555555;
}
.card .body li .sub {
  font-size: 0.41666667rem;
  line-height: 0.5rem;
}
.card .body li .action {
  margin-left: 0.11111111rem;
  font-size: 0.38888889rem;
  line-height: 0.38888889rem;
  color: skyblue;
  cursor: pointer;
}
.card .body .empty {
  width: 100%;
}
.card .body .empty .empty-item {
  margin: 0.27777778rem 0 0 !important;
  width: 60%;
  height: 0.5rem;
  background: #eeeeee;
}
.card .body .empty .empty-item:nth-child(2) {
  width: 40%;
}
.card .body .empty .empty-item:nth-child(3) {
  width: 80%;
}
header h1 {
  color: #337ab7;
  text-align: center;
  font-size: 1rem;
  margin: 0.55555556rem;
}
.list {
  position: relative;
}
