@import "pj";

.i-card {
  .header {
    .title {
      font-size: @base-font-lg;
    }

    .sub {
      font-size: @base-font-sm;
    }
  }

  .i-body {
    li {
      font-size: @base-font;
    }
  }
}