<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="js/libs/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="js/libs/vue.min.js"></script>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/index.css">
  <title>xiongjian.vip</title>
</head>
<body>
<div class="container" id="home">
  <header>
    <h1>xiongjian.vip</h1>
  </header>
  <div></div>
  <section>
    <div class="list row">
      <div class="col-xs-12 col-sm-6 list-item" v-for="item in data.groups">
        <div class="card">
          <div class="header"
               :style="'background: linear-gradient(60deg,' + item.subColor + ', ' + item.color + ');'">
            <span class="title">{{item.title}}</span>
            <span class="sub">{{item.subTitle}}</span>
          </div>
          <ul class="body">
            <li v-for="(mClass, index) in item.classes" v-if="mClass.name.length > 0">
              <a class="name"
                 :href="mClass.link && mClass.link.length > 0 ? mClass.link : '#a-item-'+index"
                 :onmouseover="'this.style.color=\''+item.color+'\''"
                 :onmouseout="'this.style.color=\''+data.fontColor+'\''">
                {{mClass.name}}
              </a>
              <span class="sub" v-if="mClass.sub && mClass.sub.length > 0" :style="'color: '+item.subColor"> - {{mClass.sub}}</span>
              <i v-if="(!mClass.link || mClass.link.length < 1) && mClass.action && mClass.action.length > 0"
                 @click="clickAction(mClass)" class="action">[{{mClass.actionName}}]</i>
            </li>
            <div class="empty" v-if="!item.classes || item.classes.length < 1">
              <p class="empty-item"></p>
              <p class="empty-item"></p>
              <p class="empty-item"></p>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="js/constant.js"></script>
<script type="text/javascript" src="js/utils/EasyLazyload.js"></script>
<script type="text/javascript" src="js/utils/commonUtils.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>