body {
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}

.container {
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  position: relative;
}

.header {
  height: 80px;
  width: 1140px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
}

.footer {
  min-width: 1200px;
  width: 100%;
  text-align: center;
  background-color: #0E0F1A;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  opacity: .3;
  font-size: 14px;
}

.footer p {
  margin-top: 10px;
}

/*统一a标签样式*/
a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: cornflowerblue;
}

a:active {
  color: black;
}

/*统一table默认框线*/
table {
  border-collapse: collapse; /*坍塌，边框重叠*/
  border: solid 1px black; /*实线、1px、黑色*/
}

table th {
  border: solid 1px black; /*实线、1px、黑色*/
}

table td {
  border: solid 1px black; /*实线、1px、黑色*/
}

.invisible {
  display: none;
}

/**
  自定义toast样式
 */
.toast-default-span {
  max-width: 40%;
  position: fixed;
  bottom: 10%;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;

  padding: 10px 20px;
  z-index: 9999;
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 5px #33000000;
  -moz-box-shadow: 0 0 5px 5px #33000000;
  box-shadow: 0 0 5px 5px #33000000;
  background: grey;
  color: white;
  line-height: 20px;

  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}